@{
	ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>
	<div class="text-center">
		<h1 class="display-4 text-capitalize">Welcome to the PC BUY NET !</h1>
	</div>
	<p>
		PC BUY NET is your reliable online computer store, where quality meets affordability.
		We offer a wide range of components, ready-made PCs, laptops, peripherals,
		and accessories from leading global brands — everything for your comfort, work, 
		or gaming. Our team of experts carefully selects products so that you receive only proven and 
		modern technology. Fast delivery across Ukraine, flexible payment terms, and professional 
		support make shopping at PC BUY NET easy and enjoyable. With us, your digital world will become 
		even more productive!

	</p>
</body>
</html>

